<template>
  <Header>
    <template v-slot:title>編輯</template>
    <template v-slot:action>
      <div @click.prevent="validateData">儲存</div>
    </template>
  </Header>
  <main class="main-container">
    <article class="edit-daily-log-page">
      <div class="flex flex-justify-between flex-align-center mt-4 mb-4">
        <div>今天：{{ today.text }}</div>
      </div>
      <template v-if="isGetDailyLogInfoLoading">資料讀取中</template>
      <template v-else>
        <section class="daily-section">
          <h3 class="heading">白天</h3>
          <div class="daily-list">
            <div class="daily-list-item">
              <div class="daily-item-title">吃飯了沒</div>
              <div class="daily-item-content">
                <template v-for="(value, name) in feedStatus">
                  <FormRadio v-model="dayFeed"
                             name="dayFeed"
                             :value="name"
                             :id="'dayFeed' + name"
                             :text="value"
                             :custom-class="['daily-option']" />
                </template>
              </div>
            </div>
            <div class="daily-list-item flex-align-center">
              <div class="daily-item-title">便便</div>
              <div class="daily-item-content">
                <template v-for="(value, name) in pooStatus">
                  <FormRadio v-model="dayPoo"
                             name="dayPoo"
                             :value="name"
                             :id="'dayPoo' + name"
                             :text="value"
                             :custom-class="['daily-option']" />
                 </template>
               </div>
            </div>
            <div class="daily-list-item flex-align-center">
              <div class="daily-item-title">散步</div>
              <div class="daily-item-content">
                <template  v-for="(value, name) in walkingStatus">
                  <FormRadio v-model="dayWalking"
                             name="dayWalking"
                             :value="name"
                             :id="'dayWalking' + name"
                             :text="value"
                             :custom-class="['daily-option']" />
                </template>
               </div>
            </div>
          </div>
        </section>
        <section class="daily-section">
          <h3 class="heading">晚上</h3>
          <div class="daily-list">
            <div class="daily-list-item">
              <div class="daily-item-title">吃飯了沒</div>
              <div class="daily-item-content">
                <template v-for="(value, name) in feedStatus">
                  <FormRadio v-model="nightFeed"
                             name="nightFeed"
                             :value="name"
                             :id="'nightFeed' + name"
                             :text="value"
                             :custom-class="['daily-option']" />
                </template>
              </div>
            </div>
            <div class="daily-list-item">
              <div class="daily-item-title">便便</div>
              <div class="daily-item-content">
                <template v-for="(value, name) in pooStatus">
                   <FormRadio v-model="nightPoo"
                              name="nightPoo"
                              :value="name"
                              :id="'nightPoo' + name"
                              :text="value"
                              :custom-class="['daily-option']" />
                </template>
              </div>
            </div>
            <div class="daily-list-item">
              <div class="daily-item-title">散步</div>
              <div class="daily-item-content">
                <template v-for="(value, name) in walkingStatus">
                  <FormRadio v-model="nightWalking"
                             name="nightWalking"
                             :value="name"
                             :id="'nightWalking' + name"
                             :text="value"
                             :custom-class="['daily-option']" />
                </template>
              </div>
            </div>
          </div>
        </section>
      </template>
    </article>
  </main>
</template>

<script>
import { ref, computed, watch } from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'

import { feedStatus, pooStatus, walkingStatus } from '/Services/BasicConstants'

import Header from '/@/components/Header.vue'
import FormRadio from '/@/components/FormRadio.vue'

let getDate = new Date()
export default {
  components: {
    Header,
    FormRadio
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const route = useRoute()

    const today = store.getters.dateTextData(getDate)

    const dayFeed = ref(''),
          dayPoo = ref(''),
          dayWalking = ref(''),
          nightFeed = ref(''),
          nightPoo = ref(''),
          nightWalking = ref('');
    const todaysDailyLogInfo = computed(() => store.state.dailyLogInfo)

    function setDefaultDailyLogInfo() {
      dayFeed.value = todaysDailyLogInfo.value.dayFeed || ''
      dayPoo.value = todaysDailyLogInfo.value.dayPoo || ''
      dayWalking.value = todaysDailyLogInfo.value.dayWalking || ''
      nightFeed.value = todaysDailyLogInfo.value.nightFeed || ''
      nightPoo.value = todaysDailyLogInfo.value.nightPoo || ''
      nightWalking.value = todaysDailyLogInfo.value.nightWalking || ''
    }

    setDefaultDailyLogInfo()
    watch(todaysDailyLogInfo, (value, oldValue) => {
      setDefaultDailyLogInfo()
    })

    function isChanged() {
      if(dayFeed.value === todaysDailyLogInfo.value.dayFeed &&
         dayPoo.value === todaysDailyLogInfo.value.dayPoo &&
         dayWalking.value === todaysDailyLogInfo.value.dayWalking &&
         nightFeed.value === todaysDailyLogInfo.value.nightFeed &&
         nightPoo.value === todaysDailyLogInfo.value.nightPoo &&
         nightWalking.value === todaysDailyLogInfo.value.nightWalking) {
        return false
      }
      return true
    }

    const isGetDailyLogInfoLoading = computed(() => store.state.isGetDailyLogInfoLoading)
    const validateData = () => {
      if(!dayFeed.value && !dayPoo.value && !dayWalking.value && 
         !nightFeed.value && !nightPoo.value && !nightWalking.value) {
        alert('要填寫才可以存擋喔')
        return 
      }
      else if(!isChanged()) {
        router.push({path: '/'})
      }
      else {
        let dailyData = {
          createDate: today.timestamp,
          createDateTimeText: getDate,
          lastEditTime: today.timeText,
          dayFeed: dayFeed.value,
          dayPoo: dayPoo.value,
          dayWalking: dayWalking.value,
          nightFeed: nightFeed.value,
          nightPoo: nightPoo.value,
          nightWalking: nightWalking.value,
        }
        let submitData = {
          date: today.date,
          data: dailyData
        }
        submit(submitData)
      }
    }

    const submit = (submitData) => {
      store.dispatch('setDailyLogInfo', submitData)
      router.push({path: '/'})
    }

    return {
      feedStatus,
      pooStatus,
      walkingStatus,
      today,
      dayFeed,
      dayPoo,
      dayWalking,
      nightFeed,
      nightPoo,
      nightWalking,
      validateData,
      todaysDailyLogInfo,
      isGetDailyLogInfoLoading
    }
  },
}


</script>
