<template>
  <Header>
    <template v-slot:menu>
      <div @click="toggleNavigation">
        <div class="icon-menu">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
    </template>
    <template v-slot:title>甜甜在幹嘛</template>
  </Header>
  <main class="main-container">
    <div class="flex flex-justify-between flex-align-center mb-2">
      <div>今天：{{ today.text }}</div>
      <button class="button button-default">
        <router-link :to="{path: 'edit-daily-log'}">編輯</router-link>
      </button>
    </div>
    <p class="text-small mt-2 mb-2" v-if="todaysDailyLogInfo.lastEditTime">
      最新編輯時間 {{ todaysDailyLogInfo.lastEditTime }}
    </p>
    <section class="daily-section">
      <h3 class="heading">白天</h3>
      <div class="daily-list">
        <div class="daily-list-item">
          <div class="daily-result-title">吃飯了沒</div>
          <div class="daily-result-content">
            <template v-if="todaysDailyLogInfo.dayFeed">{{ feedStatus[todaysDailyLogInfo.dayFeed] }}</template>
            <template v-else>-</template>
          </div>
        </div>
        <div class="daily-list-item">
          <div class="daily-result-title">便便</div>
          <div class="daily-result-content">
            <template v-if="todaysDailyLogInfo.dayPoo">{{ pooStatus[todaysDailyLogInfo.dayPoo] }}</template>
            <template v-else>-</template>
          </div>
        </div>
        <div class="daily-list-item">
          <div class="daily-result-title">散步</div>
          <div class="daily-result-content">
            <template v-if="todaysDailyLogInfo.dayWalking">{{ walkingStatus[todaysDailyLogInfo.dayWalking] }}</template>
            <template v-else>-</template>
          </div>
        </div>
      </div>
    </section>
    <section class="daily-section">
      <h3 class="heading">晚上</h3>
      <div class="daily-list">
        <div class="daily-list-item">
          <div class="daily-result-title">吃飯了沒</div>
          <div class="daily-result-content">
            <template v-if="todaysDailyLogInfo.nightFeed">{{ feedStatus[todaysDailyLogInfo.nightFeed] }}</template>
            <template v-else>-</template>
          </div>
        </div>
        <div class="daily-list-item">
          <div class="daily-result-title">便便</div>
          <div class="daily-result-content">
            <template v-if="todaysDailyLogInfo.nightPoo">{{ pooStatus[todaysDailyLogInfo.nightPoo] }}</template>
            <template v-else>-</template>
          </div>
        </div>
        <div class="daily-list-item">
          <div class="daily-result-title">散步</div>
          <div class="daily-result-content">
            <template v-if="todaysDailyLogInfo.nightWalking">{{ walkingStatus[todaysDailyLogInfo.nightWalking] }}</template>
            <template v-else>-</template>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'

import { feedStatus, pooStatus, walkingStatus } from '/Services/BasicConstants'

import Header from '/@/components/Header.vue'
let getDate = new Date()

export default {
  components: {
    Header
  },
  setup() {
    const store = useStore()
    const today = store.getters.dateTextData(getDate)

    const todaysDailyLogInfo = computed(() => store.state.dailyLogInfo)
    const isShowNavigation = computed(() => store.state.isShowNavigation)
    const toggleNavigation = () => {
      store.dispatch('toggleNavigation', !isShowNavigation.value)
    }

    return {
      today,
      todaysDailyLogInfo,
      feedStatus,
      pooStatus,
      walkingStatus,
      toggleNavigation
    }
  }

}


</script>
