<template>
  <Header>
    <template v-slot:title>登入</template>
  </Header>
  <main class="main-container">
    <section>
      <FormInput v-model="account"
                 id="account"
                 type="email"
                 title="帳號（信箱）"
                 :error-message="errorMessage.account"
                 :custom-class="['mb-5']"></FormInput>
      <FormInput v-model="password"
                 id="password"
                 title="密碼"
                 type="password"
                 :error-message="errorMessage.password"></FormInput>
      <div class="align-center mt-5">
        <button class="button button-default" @click="validateData">登入</button>
      </div>
    </section>
  </main>
</template>

<script>
import { ref, computed, watch } from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'

import Header from '/@/components/Header.vue'
import FormInput from '/@/components/FormInput.vue'

export default {
  components: {
    Header,
    FormInput
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const route = useRoute()

    const signInResult = computed(() => store.state.signInResult)

    const account = ref(''),
          password = ref(''),
          errorMessage = ref({ account: '', password: ''});

    const validateData = () => {
      let regPassword = /^[a-zA-Z0-9]+$/,
          regEmail = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/; 

      if(account.value === '') {
        errorMessage.value.account = '請輸入帳號'
        return
      }

      if(password.value === '') {
        errorMessage.value.password = '請輸入密碼'
        return
      }

      errorMessage.value.account = ''
      errorMessage.value.password = ''

      submit()
    }

    function submit() {
      store.dispatch('signIn', {account: account.value, password: password.value})
    }
    function cleanForm() {
      account.value = ''
      password.value = ''
    }

    function getQueryString(queryName) {
      let getQuery = location.search.replace('?', '').split('&')
      let queryObj = {}
      getQuery.forEach(item => {
        let obj = item.split('=')
        queryObj[obj[0]] = obj[1]
      })
      return queryObj[queryName] || ''
    }

    watch(signInResult, (value, oldValue) => {
      if(!value && value !== null) {
        alert('帳號或密碼錯誤，請重新輸入')
        cleanForm()
      }
      else if(value) {
        if(getQueryString('go')) {
          router.push({path: getQueryString('go')})
        }
        else {
          router.push({name: 'home'})
        }
      }
    })

        
    return {
      account,
      password,
      validateData,
      errorMessage,
    }
  },
}
</script>