<template>
  <Header>
    <template v-slot:title>註冊</template>
  </Header>
  <main class="main-container">
    <section>
      <FormInput v-model="account"
                 id="account"
                 type="email"
                 title="帳號（信箱）"
                 @blur="validateSignUpData"
                 :error-message="errorMessage.account"
                 :custom-class="['mb-5']"></FormInput>
      <FormInput v-model="password"
                 id="password"
                 title="密碼"
                 type="password"
                 @blur="validateSignUpData"
                 :error-message="errorMessage.password"></FormInput>
      <div class="align-center mt-5">
        <button class="button button-default" @click="submit">送出</button>
      </div>
    </section>
  </main>
</template>

<script>
import { ref, computed, watch } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

import Header from '/@/components/Header.vue'
import FormInput from '/@/components/FormInput.vue'

export default {
  components: {
    Header,
    FormInput
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    
    const signUpResult = computed(() => store.state.signUpResult)

    const account = ref(''),
          password = ref(''),
          errorMessage = ref({ account: '', password: ''});

    const validateSignUpData = () => {
      let regPassword = /^[a-zA-Z0-9]+$/,
          regEmail = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/; 

      if(account.value === '') {
        errorMessage.value.account = '請輸入帳號'
        return
      }

      if(!regEmail.test(account.value)){
        errorMessage.value.account = '格式錯誤，請正確填寫Email'
        return
      }

      if(password.value === '') {
        errorMessage.value.password = '請輸入密碼'
        return
      }

      if(!regPassword.test(password.value)){
        errorMessage.value.password = '格式錯誤，請填寫大小寫英文或數字'
        return 
      }

      errorMessage.value.account = ''
      errorMessage.value.password = ''
    }

    const submit = () => {
      validateSignUpData()
      store.dispatch('signUp', {account: account.value, password: password.value})
    }
    watch(signUpResult, (value, oldValue) => {
      router.push({name: 'home'})
    })


    return {
      account,
      password,
      validateSignUpData,
      submit,
      errorMessage,
    }
  },
}
</script>