<template>
  <div class="form-group" :class="customClass">
    <input type="radio"
           class="form-radio"
           :id="id"
           :name="name"
           :checked="value === modelValue"
           :value="value"
           @click="$emit('update:modelValue', $event.target.value)">
    <label class="form-label" :for="id">{{ text }}</label>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  props: {
    value: {
      type: [Boolean, Number, String],
      default: ''
    },
    modelValue: {
      type: [Boolean, Number, String],
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: ''
    },
    text: {
      type: [Boolean, Number, String],
      default: ''
    },
    customClass: {
      type: Array,
      default() {
        return []
      }
    },
  },
  setup(props, emit) {
    const id = props.id,
          name = props.name,
          modelValue = props.modelValue,
          customClass = props.customClass,
          value = props.value,
          text = props.text

    return {
      id,
      name,
      modelValue,
      customClass,
      value,
      text
    }
  }
}
</script>