<template>
  <div class="form-group" :class="customClass">
    <label class="form-label" for="account">{{ title }}</label>
    <input class="form-input"
           :id="id"
           :type="type"
           :value="modelValue"
           v-bind="$attrs"
           @input="$emit('update:modelValue', $event.target.value)">
    <p class="form-error-message" v-if="errorMessage">{{ errorMessage }}</p>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    modelValue: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text', // text/email/number/tel
    },
    id: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: '標題'
    },
    errorMessage: {
      type: String,
      default: ''
    },
    customClass: {
      type: Array,
      default() {
        return []
      }
    },
  },
  setup(props) {
    const type = props.type,
          id = props.id,
          title = props.title,
          customClass = props.customClass;

    return {
      title,
      type,
      id,
      customClass
    }
  }
}
</script>