<template>
  <header class="header">
    <div class="header-menu" v-if="$slots.menu">
      <slot name="menu"></slot>
    </div>
    <div class="header-go-back" v-if="!$slots.menu" @click="goBack">
      <div class="icon-chevron-left"></div>
    </div>
    <div class="header-title">
      <slot name="title"></slot>
    </div>
    <div class="header-action">
      <slot name="action"></slot>
    </div>
  </header>
</template>

<script>
import { useRouter, useRoute } from 'vue-router'
export default {
  setup() {
    const router = useRouter()
    const route = useRoute()

    const goBack = () => {
      router.back()
    }

    return {
      goBack
    }
  }
}
</script>