<template>
  <div class="navigation-layout" :class="{'is-active': isActive}">
    <transition name="navigationSlide">
      <div class="navigation-content" v-show="isActive">
        <div class="navigation-close align-right" @click="toggleNavigation">
          <span class="icon-close"></span>
        </div>
        <ul class="navigation-list">
          <li class="nav-item" v-if="!isSignInState">
            <router-link class="nav-link" :to="{name: 'signIn'}">登入</router-link>
          </li>
          <li class="nav-item" v-else="isSignInState" @click="signOut">登出</li>
          <li class="nav-item" v-if="!isSignInState">
            <router-link class="nav-link" :to="{name: 'signUp'}">註冊</router-link>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
export default {
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  setup(props) {
    const router = useRouter()
    const store = useStore()

    store.dispatch('fetchOnAuthState')

    const isSignInState = computed(() => store.state.isSignInState)
    const isShowNavigation = computed(() => store.state.isShowNavigation)
    const toggleNavigation = () => {
      store.dispatch('toggleNavigation', !isShowNavigation.value)
    }

    function signOut() {
      store.dispatch('signOut')
    }

    return {
      toggleNavigation,
      isSignInState,
      signOut,
    }
  }
}
</script>