<template>
  <div class="wrapper">
    <router-view></router-view>
  </div>
  <Navigation :is-active="isShowNavigation" />
</template>

<script>
import { ref, computed, watch } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import Navigation from '/@/components/Navigation.vue'
let getDate = new Date()

export default {
  components: {
    Navigation
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const today = store.getters.dateTextData(getDate)
    const isShowNavigation = computed(() => store.state.isShowNavigation)

    store.dispatch('getDailyLogInfo', today.date)
    store.dispatch('fetchOnAuthState')

    const isSignInState= computed(() => store.state.isSignInState)

    watch(isSignInState, (value, oldValue) => {
      if(!value) {
        store.dispatch('toggleNavigation', !isShowNavigation.value)
        alert('您已經登出')
      }
    })

    return {
      isShowNavigation
    }
  },
}
</script>