@mixin media-min($size-name) {
  $size: map-get($breakpoints, $size-name);
  @media (min-width: $size) {
    @content;
  }
}

@mixin media-max($size-name) {
  $size: map-get($breakpoints, $size-name);
  @media (max-width: $size) {
    @content;
  }
}
