.button {
  padding: 4px 8px;
  min-width: 80px;
  border: none;
  position: relative;
  font-size: 16px;
  a {
    display: block;
  }
}

.button-default {
  background-color: #f0f8ff;
  border-radius: 4px 4px;
  &::before, &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 2px solid transparent;
    box-sizing: inherit;
  }
  // &::before {
  //   top: 0;
  //   left: 0;
  // }
  // &::after {
  //   right: 0;
  //   bottom: 0;
  // }
  &:hover {
    background-color: darken(#f0f8ff, 25%);
    //border: 1px solid darken(#f0f8ff, 20%);
    // &::before, &::after {
    //   width: 100%;
    //   height: 100%;
    // }
    // &::before {
    //   border-top-color: red;
    //   border-right-color: red;
    //   transition: width 0.25s ease-out, 
    //               height 0.25s ease-out 0.25s; 
    // }
    // &::after {
    //   border-bottom-color: red;
    //   border-left-color: red;
    //   transition: border-color 0.5s ease-out 0.5s,
    //               width 0.5s ease-out 0.5s, 
    //               height 0.5s ease-out 0.75s; 
    // }
  }
}

// .test {
//   width: 100px;
//   height: 100px;
//   border-radius: 100%;
//   background-color: #cdcdcd;
//   text-align: center;
//   position: relative;
//   &::before,
//   &::after {
//     content: '';
//     width:100%;
//     height: 100%;
//     position: absolute;
//     left: 0;
//     top: 0;
//     border-radius: 100%;
//     box-sizing: inherit;
//   }

//   &::before {
//     border: 2px solid transparent;
//     border-radius: 100%;
//     transition: border-top-color 0.15s linear,
//                 border-right-color 0.15s linear 0.10s,
//                 border-bottom-color 0.15s linear 0.15s,
//                 border-left-color 0.15s linear 0.25s;
//   }
//   &::after {
//     border: 0 solid transparent;
//     transition: transform 0.4s linear 0s, 
//                  border-left-width 0s linear 0.35s;
//   }
//   &:hover {
//     &::before {
//       border-top-color: red;
//       border-right-color: red;
//       border-bottom-color: red;
//       border-left-color: red;
//     }
//     &::after {
//       border-top: 2px solid red;
//       border-left-width: 2px;
//       border-right-width: 2px;
//       transform: rotate(270deg);
//     }
//   }
// }