.form-group {
  .form-label {
    display: block;
    margin: 4px 0;
  }
  .form-error-message {
    font-size: 12px;
    color: red;
  }
  .form-input {
    border-radius: 4px 4px;
    border: 1px solid #cdcdcd;
    margin: 0 0 4px;
    padding: 4px 8px;
    width: 100%;
    font-size: 16px;
  }

  .form-radio {
    display: none;

    +.form-label {
      background-color: rgba(#add8e6, 0.3);
      padding: 8px 4px;
      margin: 0 0;
      border-radius: 4px;
      display: inline-block;
      width: 80px;
      text-align: center;
    }
    &:checked + .form-label {
      background-color: #87d0e8
    }
  }
}