.header {
  display: flex;
  justify-content: content;
  align-items: center;
  background-color: rgba(255, 255, 255, 70%);
  height: 50px;

  .header-title {
    flex: 1 1 auto;
    text-align: center;
  }
  .header-menu,
  .header-go-back {
    padding-left: 20px;
    flex-basis: 15%;
  }
  .header-action {
    padding-right: 20px;
    flex-basis: 15%;
    text-align: right;
  }

  .header-menu,
  .header-go-back,
  .header-action {
    &:hover {
      cursor: pointer;
    }
  }
}


.icon-menu {
  width: 32px;
  .item {
    background-color: #2d2c2c;
    height: 2px;
    border-radius: 4px;
    margin: 5px 0;
  }
}

.icon-close {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 20px;
  &::before, &::after {
    content: '';
    position: absolute;
    background-color: #2d2c2c;
    height: 32px;
    width: 2px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.icon-chevron-left {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-225deg);
}