@for $i from 1 through 12 {
  .column-#{$i} {
    width: calc(100% / 12 * #{$i});
  }
}

@for $i from 1 through 6 {
  .mt-#{$i} {
    margin-top: calc(4px * #{$i});
  }
  .mb-#{$i} {
    margin-bottom: calc(4px * #{$i});
  }
  .ml-#{$i} {
    margin-left: calc(4px * #{$i});
  }
  .mr-#{$i} {
    margin-right: calc(4px * #{$i});
  }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.text-small {
  font-size: 13px;
}