@import './variable';
@import './reset';

@import './utility';
@import './breakpoints';
@import './flex';

@import './header';
@import './button';
@import './form';

// ==== my reset ====//
body, html{
  background-image: linear-gradient(to right, #fbdee3, #add8e6);
  font-family: Helvetica, PingFang, 黑體-繁, 黑體, 'Century Gothic', Arial, 微軟正黑體, sans-serif;
  font-size: 16px;
  background-color: #fff;
  height: 100%;
  margin: 0;
}

header, footer, div, input, section, p, button {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  margin-bottom: 0;
}

input {
  letter-spacing: 1px;
  outline: none;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      background-color: transparent;
    }
}

ul, ol {
  list-style: none;
  margin: 0 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  border: none;
  color: #000;
  &:hover, &:linked {
    text-decoration: none;
    border: none;
    color: #000;
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  &.nav-active {
    position: fixed;
  }
}

.heading {
  margin: 0 0 16px;
  border-left: 8px solid #add8e6;
  padding-left: 8px; 
}

.navigation-layout {
  background-color: rgba(0, 0, 0, 40%);
  &.is-active {
    background-color: rgba(0, 0, 0, 40%);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  .navigation-content {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    height: 100%;
    width: 50%;
    max-width: 400px;
    min-width: 150px;
    padding: 20px 20px;
  }
  .navigation-close {
    padding: 12px 0;
    &:hover {
      cursor: pointer;
    }
  }
  .nav-item {
    line-height: 40px;
    &:hover {
      cursor: pointer;
    }

    &+ .nav-item {
      border-top: 1px solid #cdcdcd;
    }

    .nav-link {
      display: block;
    }
  }
}


.navigationSlide-enter-active {
  animation: slideToRight 0.3s ease both;
}

.navigationSlide-leave-active {
  animation: slideToLeft 0.3s ease both;
}

@keyframes slideToRight{
  from {
    transform: translateX(-100%);
    visibility: visible;
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes slideToLeft{
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(-100%);
  }
}

h1 {
  font-size: 24px
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}

.main-container {
  padding: 20px 12px;
  max-width: 1200px;
  margin: 0 auto;
}

.daily-section {
  background-color: rgba(255, 255, 255, 40%);
  margin: 0 0 28px;
  padding: 16px;
}

.daily-list {
  &-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 8px;
  }
  .daily-result-title {
    flex: 0 0 100px;
  }

}

.edit-daily-log-page {
  .daily-item-title {
    flex: 0 0 100%;
    @include media-min(md) {
      flex: 0 0 100px;
    }
  }
  .daily-item-content {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    .daily-option {
      margin: 4px;
    }
  }
}